.container
  %div
    - @posts.each do |post|
      .col-xs-12.post-stream
        .post-title-bar
          %h2.post-title
            = link_to post.title.upcase, post_path(post), :class => "post-title"
          %h5.post-author
            by
            %b= post.author && post.author.name
          %h6= post.created_at.strftime('%b %d, %Y')
        .post-body
          = raw(post.body).truncate(358)
        %h6
          Posted under
          %b= post.category && post.category.category
        .text-center.post-actions
          = link_to "READ MORE", post_path(post), :class => "btn"
